/* Montserrat font imported from Google Fonts library*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* setting global values which is to be applied for all pages */
*,
*::before,
*::after {
    /* remove all default margins */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* default font family for the whole project */
    font-family: 'Montserrat', sans-serif;
}

/* remove text decoration - underline */
a {
    text-decoration: none;
}

/* remove list style buller point */
li {
    list-style-type: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}