// styles for the content of customer accounts
.content {
    padding: 30px 40px;
    overflow: auto;
    position: relative;

    // search field element
    .form-search-create {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // the form field that contains a text type input
        form.search-field {
            width: fit-content;
    
            .input-search-field {
                position: relative;
                width: fit-content;
    
                // this is the icon, placed on the left side
                label {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    font-size: 24px;
                    top: 55%;
                    left: 6%;
                    color: #555;
                }
    
                // appropriate paddings applied to ensure there are no crossovers on the label and the query
                input[type="text"] {
                    padding: 15px 25px 15px 60px;
                    font-size: 18px;
                    border: none;
                    outline: 0;
                    border-radius: 5px;
                    // set a specific width
                    width: 500px;
                    background: #fff;
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
                    color: #333;
                }
            }
        }

        // these are the buttons placed on the top right of the corner
        // apply thse styles for both buttons
        button {
            padding: 15px 25px;
            font-size: 18px;
            // remove default border
            border: none;
            // set cursor to pointer on hover
            cursor: pointer;
            // remove default outline
            outline: 0;
            background: #EE5757;
            border-radius: 5px;
            // add a drop-shadow effect
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
            color: #fff;
            transition: .2s;
        }

        // set background colour of this button to light blue
        button.change-valued-btn {
            background: #1f9be2;
        }

        // on hover for both buttons, set opacity to  0.8
        button:hover {
            opacity: 0.8;
        }
    }

    // body section that contains the data fetched from database
    .customer-details {
        background: #fff;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 30px 40px;

        .customer-detail-tags {
            // set display to grid and set column templates
            display: grid;
            grid-template-columns: 8% 1fr 1fr 30% 10% 1fr;
            padding: 0 15px 10px;
            text-transform: uppercase;
            color: #9a9a9a;
            // set spacing between letters
            letter-spacing: 1px;
            border-bottom: 1px solid #eee;

            span {
                font-size: 12px;
            }
        }
        
        // list of customers
        #customer-list {
            
            li {
                // set display to grid and set column templates
                display: grid;
                grid-template-columns: 8% 1fr 1fr 30% 10% 1fr;
                // align the child elements at the center
                align-items: center;
                padding: 15px;
                transition: .2s;

                span {
                    color: #333;
                }

                // the width of this span tag takes over the whole grid row
                span#none-registered {
                    grid-column: 1 / 6;
                }

                // form that contains a select tag to set the discount for the customer
                form[class*="set-discount-to-cust-"] {
                    
                    // this select tag sets the discount
                    select[id*="discount-select-"] {
                        padding: 5px;
                        border: 1px solid #dcdcdc;
                        color: #333;
                        outline: 0;
                        font-size: 14px;
                    }
                }
            }

            // set a background on the list item on hover
            li:hover {
                background: #fafafa;
            }
        }
    }

    // modal forms, absolute elements that are on top of other elements
    .create-customer-form, .change-valued-form {
        position: absolute;
        // placed from the top left corner of the parent element
        top: 0;
        left: 0;
        // setting width and height properties
        width: 100%;
        height: 100%;
        // black background with opacity set to 0.15
        background: rgba(0, 0, 0, 0.15);
        // place the form in the center of this modal form
        display: flex;
        justify-content: center;
        align-items: flex-start;
        // set a scrollbar if needed
        overflow: auto;
        padding: 30px 0px;

        // this is the form itself
        .create-customer, .change-valued-customer {
            // width of the form is set to 50% of the modal
            width: 50%;
            background: #fff;
            padding: 30px 40px;
            border-radius: 5px;
            // drop-effect shadow
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
            position: relative;

            h2 {
                font-size: 36px;
                color: #333;
            }

            p {
                line-height: 1.5;
                color: #555;
                font-size: 18px;
                margin: 10px 0px 25px;
            }

            // for all divs with class starting with inputs, set a bottom margin
            div[class*="input"] {
                margin-bottom: 15px;
            }

            div[class*="input"]:last-child {
                margin-bottom: 0;
            }

            // apply styles on the input
            input {
                width: 100%;
                padding: 11px 15px;
                font-size: 16px;
                border: 1px solid #dcdcdc;
                outline: 0;
                color: #333;
                border-radius: 5px;
            }

            label {
                font-size: 14px;
                margin-bottom: 4px;
                display: block;
                color: #555;
            }

            .input-name-field {
                // place the name input fields next to each other
                display: flex;
                justify-content: space-between;
                align-items: center;

                // set the width of both name input fields to 48.5%
                .customer-fname, .customer-lname {
                    flex-basis: 48.5%;
                }
            }

            // submit buttons for both forms, change the background colour only
            .input-submit-field {
                margin-top: 30px;

                input[type="submit"] {
                    background: #EE5757;
                    color: #fff;
                    cursor: pointer;
                }

                #valued-submit-btn {
                    background: #1f9be2;
                }
            }

            // place the close modal button at the top right of the form
            .close-form, .close-form-valued {
                position: absolute;
                top: 4%;
                right: 5%;

                button {
                    background: none;
                    outline: 0;
                    border: none;
                    cursor: pointer;
                    font-size: 26px;
                }

            }

            // search field in the valued customer form
            .input-search-field {
                position: relative;
                width: 100%;
    
                label {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    font-size: 24px;
                    top: 55%;
                    left: 6%;
                    color: #555;
                }
    
                input[type="text"] {
                    padding: 15px 25px 15px 60px;
                    font-size: 18px;
                    border: none;
                    outline: 0;
                    border-radius: 5px;
                    width: 100%;
                    background: #fff;
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
                    color: #333;
                }
            }

            ul.valued-customer-list {
                margin: 20px 0px;

                select {
                    padding: 5px;
                    outline: 0;
                    border: 1px solid #dcdcdc;
                    outline: 0;
                    color: #333;
                    cursor: pointer;
                }

                li[class*="customer-id-"] {
                    padding: 10px 15px;
                    margin-bottom: 5px;
                    transition: .2s;
                    border-radius: 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
    
                li[class*="customer-id-"]:hover {
                    background: #fafafa;
                }
            }

        }

        .change-valued-customer {
            width: 55%;
        }
    }
}

.content::after {
    content: '';
    width: 100%;
    height: 15px;
}