main.dash-template {
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: 75px 1fr;
    height: 100vh;
    width: 100%;

    .sidebar {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        border-right: 1px solid #dcdcdc;
        display: flex;
        flex-direction: column;
        padding: 50px 30px;

        .sidebar-link, button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 10px;
            transition: .2s;
            padding: 15px;
            border-radius: 5px;
            background: #fff;
            border: none;
            width: 100%;
            cursor: pointer;
            outline: 0;

            ion-icon {
                margin-right: 20px;
                font-size: 20px;
                color: #EE5757;
            }

            span {
                display: block;
                color: #555;
                font-size: 18px;
            }
        }

        .sidebar-link:hover, button:hover {
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
        }

        .open-jobs-link, .open-customer-link {

            .job-links, .customer-links {
                display: none;
                margin-left: 30px;

                a {
                    display: block;
                    margin-bottom: 10px;
                    padding: 10px 15px;
                    transition: .3s;

                    span {
                        color: #919191;
                    }
                }

                a:hover {
                    
                    span {
                        color: #555;
                    }
                }
            }
        }
    }

    .header {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        border-bottom: 1px solid #dcdcdc;
        padding: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .content {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        background: #fafafa;
    }
}