.content {
    padding: 30px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 35px;

    h2 {
        color: #333;
        font-size: 32px;
        margin-bottom: 5px;
    }

    p {
        line-height: 1.5;
        color: #555;
    }

    span {
        display: block;
        margin-top: 15px;
        color: #aaa;
        font-size: 12px;
    }

    .customer-report {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .staff-report {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .summary-report {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .customer-report-generate {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        form.generate-report-for-customer {
            background: #fff;
            padding: 30px 40px;
            border-radius: 5px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);

            label {
                display: block;
                margin-bottom: 10px;
                width: fit-content;
                font-size: 16px;
            }

            input {
                padding: 10px 15px;
                outline: 0;
                border: 1px solid #dcdcdc;
                font-size: 16px;
                border-radius: 5px;
            }

            .input-date-field {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 25px 0px 40px;

                input {
                    width: 100%;
                }

                .from-date-field {
                    flex-basis: 49.5%;
                }

                .to-date-field {
                    flex-basis: 49.5%;
                }
            }

            .input-submit-btn {

                input[type="submit"] {
                    cursor: pointer;
                    background: #EE5757;
                    border: none;
                    outline: 0;
                    color: #fff;
                }
            }
        }
    }
}