main {
    background: #fff;
    margin: 0 auto;
    width: 100%;
    padding: 25px;

    .heading-section {
        text-align: center;

        h1 {
            font-size: 46px;
            margin-bottom: 10px;
            color: #333;
        }

        p {
            color: #555;
        }
    }

    .body-section {
        margin-top: 50px;
        text-align: center;

        h2 {
            color: #555;
            margin-bottom: 15px;
        }

        [class*="day-shift"] {
            margin-bottom: 50px;
        }

        .body-section-tags {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            padding: 15px 0px;
            border-bottom: 1px solid #f1f1f1;
    
            span {
                font-size: 11px;
                color: #333;
            }
    
            span:last-child {
                border-right: none;
            }
        }

        ul.body-section-shift-one, ul.body-section-shift-two, ul.body-section-shift-three {

            li {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-column-gap: 20px;
                padding: 8px 0px;

                span {
                    font-size: 11px;
                    color: #333;
                }
        
                span:last-child {
                    border-right: none;
                }

                .grid-place-1 {
                    grid-column: 2 / 3;
                }

                .grid-place-2 {
                    grid-column: 3 / 4;
                }

                .grid-place-3 {
                    grid-column: 4 / 5;
                }

                .grid-place-4 {
                    grid-column: 5 / 6;
                }

                .grid-place-5 {
                    grid-column: 6 / 7;
                    font-weight: bold;
                }
            }
        }

        .body-section-tags-last {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            padding: 15px 0px;
            border-bottom: 1px solid #f1f1f1;
    
            span {
                font-size: 11px;
                color: #333;
            }
    
            span:last-child {
                border-right: none;
            }
        }

        ul.period-date {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;

            li {
                padding: 8px 0px;
                font-size: 11px;
                color: #333;
                width: 100%;
            }

            div {
                grid-row: 1 / 2;
            }

            div.date-shift {
                grid-column: 1 / 2;
            }

            div.grid-place-shift-1 {
                grid-column: 2 / 3;
            }

            div.grid-place-shift-2 {
                grid-column: 3 / 4;
            }

            div.grid-place-night-shift {
                grid-column: 4 / 5;
            }

            div.grid-place-total {
                grid-column: 5 / 6;

                li {
                    font-weight: bold;
                }
            }
        }
    }
}

.utility-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    
    button {
        width: 200px;
        height: fit-content;
        justify-self: flex-end;
        align-self: flex-end;
        padding: 15px 10px;
        font-size: 16px;
        border: none;
        background: #EE5757;
        color: #fff;
        border-radius: 5px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
        transition: .2s;
        outline: 0;
        cursor: pointer;
        z-index: 5;
    }

    button:hover {
        transform: translateY(-7px);
    }

    .back-btn {
        width: 100px;
        background: #333;
    }
}