main {
    // place everything in the middle
    background: #fff;
    margin: 0 auto;
    width: 100%;
    padding: 25px;

    .heading-section {
        text-align: center;

        h1 {
            font-size: 46px;
            margin-bottom: 10px;
            color: #333;
        }

        p {
            color: #555;
        }
    }

    .body-section {
        // spacing between heading and generated data
        margin-top: 50px;
        text-align: center;

        h2 {
            color: #555;
            margin-bottom: 15px;
        }

        [class*="day-shift"] {
            margin-bottom: 50px;
        }

        .body-section-tags {
            // set display to grid and set column templates with spacing in between
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            padding: 15px 0px;
            // set a border at the bottom only
            border-bottom: 1px solid #f1f1f1;
    
            span {
                font-size: 11px;
                color: #333;
            }
        }

        // stylings for all the shifts specified
        ul.body-section-shift-one, ul.body-section-shift-two, ul.body-section-shift-three {

            li {
                // set display to grid and set column templates with spacing in between
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-column-gap: 20px;
                padding: 8px 0px;

                span {
                    font-size: 11px;
                    color: #333;
                }
        
                span:last-child {
                    border-right: none;
                }

                // place data in this grid columns
                .grid-place-1 {
                    grid-column: 2 / 3;
                }

                .grid-place-2 {
                    grid-column: 3 / 4;
                }

                .grid-place-3 {
                    grid-column: 4 / 5;
                }

                .grid-place-4 {
                    grid-column: 5 / 6;
                }

                .grid-place-5 {
                    grid-column: 6 / 7;
                    font-weight: bold;
                }
            }
        }

        .body-section-tags-last {
            // set display to grid and set column templates with spacing in between
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            padding: 15px 0px;
            // set a border at the bottom only
            border-bottom: 1px solid #f1f1f1;
    
            span {
                font-size: 11px;
                color: #333;
            }
        }

        // styling for the summary of all performance 
        ul.period-date {
            // set display to grid and set column templates with spacing in between
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;

            li {
                padding: 8px 0px;
                font-size: 11px;
                color: #333;
                width: 100%;
            }

            // all divs are set to first row of the grid
            div {
                grid-row: 1 / 2;
            }

            // place these div elements acordingly in the grid
            div.date-shift {
                grid-column: 1 / 2;
            }

            div.grid-place-shift-1 {
                grid-column: 2 / 3;
            }

            div.grid-place-shift-2 {
                grid-column: 3 / 4;
            }

            div.grid-place-night-shift {
                grid-column: 4 / 5;
            }

            div.grid-place-total {
                grid-column: 5 / 6;

                // bold font for pop-out effect
                li {
                    font-weight: bold;
                }
            }
        }
    }
}

.utility-btn {
    // place buttons at bottom right
    position: fixed;
    bottom: 20px;
    right: 20px;
    
    // button styles
    button {
        width: 200px;
        height: fit-content;
        padding: 15px 10px;
        font-size: 16px;
        border: none;
        background: #EE5757;
        color: #fff;
        border-radius: 5px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
        transition: .2s;
        outline: 0;
        cursor: pointer;
        // send to front 
        z-index: 5;
    }

    // raise the button on hover 
    button:hover {
        transform: translateY(-7px);
    }

    // change the background on the back button
    .back-btn {
        width: 100px;
        background: #333;
    }
}
