main {
    display: grid;
    grid-template-columns: 55% 1fr;
    height: 100vh;

    .hero-img {
        height: inherit;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hero-form {
        align-self: center;
        justify-self: center;

        form {
            width: fit-content;

            h1 {
                margin-bottom: 25px;
                font-size: 48px;
                color: #333;
            }

            div[class*="form-input"] {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                margin-bottom: 15px;

                label {
                    margin-bottom: 5px;
                    color: #333;
                }

                input {
                    color: #333;
                    width: 100%;
                    padding: 15px 20px;
                    border-radius: 5px;
                    outline: 0;
                    border: none;
                    background: #fff;
                    font-size: 18px;
                    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
                }

                input[type="submit"] {
                    cursor: pointer;
                    transition: .4s;
                    margin-top: 15px;
                }

                input[type="submit"]:hover {
                    background: #EE5757;
                    color: #fff;
                }

                img {
                    width: 50%;
                }
            }
        }
    }
}