.content {
    padding: 30px 40px;
    overflow: auto;
    position: relative;

    .payment-alert {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        display: none;

        .modal-late-payment {
            background: #fff;
            padding: 30px 40px;
            border-radius: 5px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);

            h2 {
                font-size: 36px;
                color: #333;
            }

            p {
                line-height: 1.5;
                color: #555;
                font-size: 18px;
                margin: 5px 0px 15px;
            }

            button {
                width: 100%;
                background: #EE5757;
                padding: 15px;
                border-radius: 5px;
                border: none;
                outline: 0;
                color: #fff;
                font-size: 18px;
                cursor: pointer;
                transition: .2s;
            }

            button:hover {
                transform: scale(1.025);
            }
        }
    }

    .form-search-find {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        form.search-field {
            width: fit-content;
    
            .input-search-field {
                position: relative;
                width: fit-content;
    
                label {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    font-size: 24px;
                    top: 55%;
                    left: 6%;
                    color: #555;
                }
    
                input[type="text"] {
                    padding: 15px 25px 15px 60px;
                    font-size: 18px;
                    border: none;
                    outline: 0;
                    border-radius: 5px;
                    width: 500px;
                    background: #fff;
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
                    color: #333;
                }
            }
        }
    }

    .payment-details {
        background: #fff;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 30px 40px;

        .payment-detail-tags {
            display: grid;
            grid-template-columns: 17% repeat(5, 1fr) 3%;
            padding: 0 15px 10px;
            text-transform: uppercase;
            color: #9a9a9a;
            letter-spacing: 1px;
            border-bottom: 1px solid #eee;

            span {
                font-size: 12px;
            }
        }

        #payment-list {

            li {
                display: grid;
                grid-template-columns: 17% repeat(5, 1fr) 3%;
                align-items: center;
                padding: 15px;
                transition: .2s;

                span {
                    color: #333;
                }

                button.open-jobs-payment {
                    background: #fff;
                    border: none;
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
                    cursor: pointer;
                    padding: 5px;
                    border-radius: 5px;
                    transition: .2s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    outline: 0;
                    
                    ion-icon {
                        color: #EE5757;
                        font-size: 20px;
                    }
                }

                button.open-jobs-payment:hover {
                    background: #EE5757;
                    
                    ion-icon {
                        color: #fff;
                    }
                }
            }

            div[class*="jobs-payment-details-"] {
                padding: 30px 40px;
                background: #fbfbfb;
                position: relative;
                border-radius: 5px;
                display: none;

                form[class*="jobs-payment-form-"], form[class*="jobs-payment-form-variable-"] {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 5%;
                    height: 100%;

                    h2 {
                        color: #333;
                        margin-bottom: 10px;
                        font-size: 18px;
                    }

                    input, select {
                        padding: 10px;
                        font-size: 16px;
                        width: 100%;
                        outline: 0;
                        border: 1px solid #dcdcdc;
                        color: #555;
                        border-radius: 5px;
                    }

                    .payment-type-details {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        grid-gap: 25px;
                    }

                    .discount-details {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        grid-gap: 25px;

                        .discount-plan {
                            
                            span {
                                display: block;
                                height: 40px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                            }
                        }

                        .input-submit-btn {
                            grid-column: 1 / 3;
                            align-self: flex-end;
    
                            input[type="submit"] {
                                cursor: pointer;
                                background: #EE5757;
                                color: #fff;
                                transition: .3s;
                            }

                            input[type="submit"]:hover {
                                opacity: 0.6;
                                transform: scale(1.025);
                            }
                        }
                    }
                }

                form[class*="jobs-payment-form-variable-"] {
                    grid-template-columns: 1fr 68%;

                    .payment-type-details {
                        grid-column: 1 / 2;
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: auto;
                        grid-gap: 25px;
                    }

                    .discount-plan-details-paym {
                        grid-column: 2 / 3;

                        .discount-plan {
                            padding: 0 10px;

                            h2, span {
                                display: inline-block;
                            }

                            span {
                                margin-left: 10px;
                                font-weight: 100;
                            }
                        }

                        .discount-task-details {
                            margin: 15px 0px 35px;

                            .task-details-discount {
                                display: grid;
                                grid-template-columns: 10% 50% 15% 1fr;
                                padding: 10px;
                                align-items: center;
                                border-radius: 5px;
                                transition: .2s;

                                input[type="text"] {
                                    padding: 7px 10px;
                                }
                            }

                            .task-details-discount:hover {
                                background: #EE5757;
                                color: #fff;
                            }
                        }

                        .input-submit-btn {
                            grid-column: 2 / 3;
                            text-align: right;

                            input[type="submit"] {
                                background: #EE5757;
                                width: 20%;
                                cursor: pointer;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.content::after {
    content: '';
    width: 100%;
    height: 15px;
}