.content {
    padding: 30px 40px;
    overflow: auto;
    position: relative;

    .payment-alert {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        .modal-late-payment {
            background: #fff;
            padding: 30px 40px;
            border-radius: 5px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);

            h2 {
                font-size: 36px;
                color: #333;
            }

            p {
                line-height: 1.5;
                color: #555;
                font-size: 18px;
                margin: 5px 0px 15px;
            }

            button {
                width: 100%;
                background: #EE5757;
                padding: 15px;
                border-radius: 5px;
                border: none;
                outline: 0;
                color: #fff;
                font-size: 18px;
                cursor: pointer;
                transition: .2s;
            }

            button:hover {
                transform: scale(1.025);
            }
        }
    }

    .form-search-find {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        form.search-field {
            width: fit-content;
    
            .input-search-field {
                position: relative;
                width: fit-content;
    
                label {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    font-size: 24px;
                    top: 55%;
                    left: 6%;
                    color: #555;
                }
    
                input[type="text"] {
                    padding: 15px 25px 15px 60px;
                    font-size: 18px;
                    border: none;
                    outline: 0;
                    border-radius: 5px;
                    width: 500px;
                    background: #fff;
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
                    color: #333;
                }
            }
        }
    }

    .payment-details {
        background: #fff;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 30px 40px;

        .payment-detail-tags {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            padding: 0 15px 10px;
            text-transform: uppercase;
            color: #9a9a9a;
            letter-spacing: 1px;
            border-bottom: 1px solid #eee;

            span {
                font-size: 12px;
            }
        }

        // #payment-list {
            
        // }
    }
}

.content::after {
    content: '';
    width: 100%;
    height: 15px;
}