.content {
    padding: 30px 40px;
    overflow: auto;
    position: relative;

    .form-search-find {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        form.search-field {
            width: fit-content;
    
            .input-search-field {
                position: relative;
                width: fit-content;
    
                label {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    font-size: 24px;
                    top: 55%;
                    left: 6%;
                    color: #555;
                }
    
                input[type="text"] {
                    padding: 15px 25px 15px 60px;
                    font-size: 18px;
                    border: none;
                    outline: 0;
                    border-radius: 5px;
                    width: 500px;
                    background: #fff;
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
                    color: #333;
                }
            }
        }
    }

    .job-details {
        background: #fff;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 30px 40px;

        .job-detail-tags {
            display: grid;
            grid-template-columns: 5% 10% 10% 1fr 1fr 1fr 1fr 5%;
            padding: 0 15px 10px;
            text-transform: uppercase;
            color: #9a9a9a;
            letter-spacing: 1px;
            border-bottom: 1px solid #eee;

            span {
                font-size: 12px;
            }
        }
        
        #job-list {
            
            li {
                display: grid;
                grid-template-columns: 5% 10% 10% 1fr 1fr 1fr 1fr 5%;
                padding: 15px;
                transition: .2s;

                span {
                    color: #333;
                }

                button[class*="drop-details"] {
                    cursor: pointer;
                    padding: 5px 6px;
                    width: fit-content;
                    background: none;
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
                    border: none;
                    border-radius: 5px;
                    transition: .2s;
                    outline: 0;

                    ion-icon {
                        font-size: 18px;
                        color: #EE5757;
                        position: relative;
                        top: 2px;
                    }
                }

                button[class*="drop-details"]:hover {
                    background: #EE5757;

                    ion-icon {
                        color: #fff;
                    }
                }

                span#no-jobs {
                    grid-column: 1 / 6;
                }
            }

            li:hover {
                background: #fafafa;
            }
        }
    }
}

.content::after {
    content: '';
    width: 100%;
    height: 15px;
}