.content {
    padding: 30px 40px;
    overflow: auto;
    position: relative;

    .add-task-btn {
        margin-bottom: 25px;

        button.add-task {
            padding: 15px 25px;
            font-size: 18px;
            cursor: pointer;
            border-radius: 5px;
            background: #1f9be2;
            border: none;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            transition: .2s;
            outline: 0;

            ion-icon {
                margin-right: 10px;
            }
        }

        button.add-task:hover {
            transform: scale(1.05);
        }
    }

    .task-details {
        background: #fff;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 30px 40px;

        .task-detail-tags {
            display: grid;
            grid-template-columns: 5% 28% repeat(3, 1fr) 5%;
            grid-gap: 35px;
            padding: 0 15px 10px;
            text-transform: uppercase;
            color: #9a9a9a;
            letter-spacing: 1px;
            border-bottom: 1px solid #eee;

            span {
                font-size: 12px;
            }
        }

        #task-list {
            
            li {
                display: grid;
                grid-template-columns: 5% 28% repeat(3, 1fr) 5%;
                grid-gap: 35px;
                align-items: center;
                padding: 15px;
                transition: .2s;

                span {
                    color: #333;
                }

                .utility-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        padding: 7px;
                        background: #3b9b3b;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: .2s;
                        outline: 0;

                        ion-icon {
                            font-size: 18px;
                            color: #fff;
                        }
                    }

                    button.del-btn {
                        background: #EE5757;
                        margin-left: 5px;
                    }

                    button:hover {
                        transform: scale(1.075);
                    }
                }
            }

            li:hover {
                background: #fafafa;
            }

            div[class*="delete-task-form-"], div[class*="edit-task-form-"] {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.15);
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: auto;
                padding: 30px 0px;

                form.delete-task, form.edit-task {
                    width: 45%;
                    background: #fff;
                    padding: 30px 40px;
                    border-radius: 5px;
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
                    position: relative;

                    h2 {
                        font-size: 36px;
                        color: #333;
                    }
        
                    p {
                        line-height: 1.5;
                        color: #555;
                        font-size: 18px;
                        margin: 10px 0px 25px;
                    }
        
                    div[class*="input"] {
                        margin-bottom: 15px;
                    }
        
                    div[class*="input"]:last-child {
                        margin-bottom: 0;
                    }
        
                    input, select {
                        width: 100%;
                        padding: 11px 15px;
                        font-size: 16px;
                        border: 1px solid #dcdcdc;
                        outline: 0;
                        color: #333;
                        border-radius: 5px;
                    }
        
                    label {
                        font-size: 14px;
                        margin-bottom: 4px;
                        display: block;
                        color: #555;
                        width: fit-content;
                    }
        
                    .input-submit-field {
                        margin-top: 30px;
        
                        input[type="submit"] {
                            background: #3b9b3b;
                            color: #fff;
                            cursor: pointer;
                        }
                    }

                    .delete-cancel-btn {
                        text-align: right;

                        button {
                            padding: 10px 20px;
                            background: #EE5757;
                            border-radius: 5px;
                            border: none;
                            cursor: pointer;
                            transition: .2s;
                            outline: 0;
                            font-size: 18px;
                            color: #fff;
                        }

                        button[class*="cancel-deletion"] {
                            background: #1f9be2;
                        }
                    }

                    .close-form {
                        position: absolute;
                        top: 5%;
                        right: 5%;
        
                        button {
                            background: none;
                            outline: 0;
                            border: none;
                            cursor: pointer;
                            font-size: 26px;
                        }
        
                    }
                }
            }
        }
    }

    .add-task-form {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: auto;
        padding: 30px 0px;

        .create-task {
            width: 50%;
            background: #fff;
            padding: 30px 40px;
            border-radius: 5px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
            position: relative;

            h2 {
                font-size: 36px;
                color: #333;
            }

            p {
                line-height: 1.5;
                color: #555;
                font-size: 18px;
                margin: 10px 0px 25px;
            }

            div[class*="input"] {
                margin-bottom: 15px;
            }

            div[class*="input"]:last-child {
                margin-bottom: 0;
            }

            input, select {
                width: 100%;
                padding: 11px 15px;
                font-size: 16px;
                border: 1px solid #dcdcdc;
                outline: 0;
                color: #333;
                border-radius: 5px;
            }

            label {
                font-size: 14px;
                margin-bottom: 4px;
                display: block;
                color: #555;
                width: fit-content;
            }

            .input-submit-field {
                margin-top: 30px;

                input[type="submit"] {
                    background: #1f9be2;
                    color: #fff;
                    cursor: pointer;
                }

                #valued-submit-btn {
                    background: #1f9be2;
                }
            }

            .close-form {
                position: absolute;
                top: 5%;
                right: 5%;

                button {
                    background: none;
                    outline: 0;
                    border: none;
                    cursor: pointer;
                    font-size: 26px;
                }

            }
        }
    }
}

.content::after {
    content: '';
    width: 100%;
    height: 15px;
}