.content {
    padding: 30px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 10% 1fr;
    grid-gap: 25px;

    h2#welcome {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        font-size: 40px;
        color: #555;
    }

    a.process, a.payments {
        display: block;
        padding: 20px 30px;
        font-size: 18px;
        background: #EE5757;
        color: #fff;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        transition: .2s;
        border-radius: 5px;
        grid-row: 2 / 3;
    }

    a.process:hover, a.payments:hover {
        transform: scale(1.05);
    }

    form.database-util {
        width: 100%;
        grid-row: 2 / 3;

        button[type="submit"] {
            padding: 20px 30px;
            font-size: 18px;
            background: #fff;
            color: #333;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
            outline: 0;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .2s;
            width: 100%;

            ion-icon {
                font-size: 22px;
                margin-right: 10px;
            }
        }

        button[type="submit"]:hover {
            transform: scale(1.05);
            background: #EE5757;
            color: #fff;
        }
    }

    .jobs-to-process, .payments-to-process {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        background: #fff;
        border-radius: 5px;
        padding: 30px 40px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);

        .tags {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            border-bottom: 1px solid #eee;
            padding: 10px;

            span {
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 1px;
                color: #555;
            }
        }

        .details {
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;

            span {
                color: #333;
                font-size: 15px;
            }

            .job-id {
                grid-column: 1 / 2;
            }

            .job-urgency {
                grid-column: 2 / 3;
            }

            .job-deadline {
                grid-column: 3 / 4;
            }

            .no-jobs {
                grid-column: 1 / 4;
            }
        }
    }
}