.content {
  padding: 30px 40px;
  overflow: auto;
  position: relative;
}

.content .assign-job-form .create-job {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 1fr;
      grid-template-columns: 35% 1fr;
  grid-gap: 25px;
  position: relative;
}

.content .assign-job-form .create-job h2 {
  font-size: 36px;
  color: #333;
}

.content .assign-job-form .create-job p {
  line-height: 1.5;
  color: #555;
  font-size: 18px;
  margin: 10px 0px 25px;
}

.content .assign-job-form .create-job div[class*="input"] {
  margin-bottom: 15px;
}

.content .assign-job-form .create-job div[class*="input"]:last-child {
  margin-bottom: 0;
}

.content .assign-job-form .create-job input, .content .assign-job-form .create-job textarea, .content .assign-job-form .create-job select {
  width: 100%;
  padding: 11px 15px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  outline: 0;
  color: #333;
  border-radius: 5px;
}

.content .assign-job-form .create-job textarea {
  resize: none;
  height: 200px;
}

.content .assign-job-form .create-job label {
  font-size: 14px;
  margin-bottom: 4px;
  display: block;
  color: #555;
}

.content .assign-job-form .create-job .input-urgency-field, .content .assign-job-form .create-job .input-staff-id-field {
  position: relative;
}

.content .assign-job-form .create-job .input-urgency-field select, .content .assign-job-form .create-job .input-staff-id-field select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.content .assign-job-form .create-job .input-urgency-field ion-icon, .content .assign-job-form .create-job .input-staff-id-field ion-icon {
  pointer-events: none;
  position: absolute;
  top: 55%;
  right: 15px;
  color: #EE5757;
}

.content .assign-job-form .create-job .input-urgency-hours-field {
  display: none;
}

.content .assign-job-form .create-job .left-part-form, .content .assign-job-form .create-job .right-part-form {
  padding: 30px 40px;
  background: #fff;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.content .assign-job-form .create-job .left-part-form {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content .assign-job-form .create-job .right-part-container .right-part-form {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content .assign-job-form .create-job .right-part-container .right-part-form [class*="checkbox-task"] {
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.content .assign-job-form .create-job .right-part-container .right-part-form [class*="checkbox-task"] label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}

.content .assign-job-form .create-job .right-part-container .right-part-form [class*="checkbox-task"] label input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.content .assign-job-form .create-job .right-part-container .right-part-form [class*="checkbox-task"] label span {
  font-size: 16px;
}

.content .assign-job-form .create-job .right-part-container .right-part-form [class*="checkbox-task"] .task-amount-input {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .assign-job-form .create-job .right-part-container .right-part-form [class*="checkbox-task"] .task-amount-input .task-amount {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.content .assign-job-form .create-job .right-part-container .right-part-form [class*="checkbox-task"] .task-amount-input select {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.content .assign-job-form .create-job .right-part-container .right-part-form [class*="checkbox-task"]:hover {
  background: #eee;
}

.content .assign-job-form .create-job .right-part-container .input-submit-field {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-top: 15px;
}

.content .assign-job-form .create-job .right-part-container .input-submit-field input[type="submit"] {
  background: #EE5757;
  color: #fff;
  cursor: pointer;
}

.content::after {
  content: '';
  width: 100%;
  height: 15px;
}
/*# sourceMappingURL=accept_job.css.map */