.content {
    padding: 30px 40px;
    overflow: auto;
    position: relative;

    .assign-job-form {

        .create-job {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 25px;
            position: relative;

            h2 {
                font-size: 36px;
                color: #333;
            }

            p {
                line-height: 1.5;
                color: #555;
                font-size: 18px;
                margin: 10px 0px 25px;
            }

            div[class*="input"] {
                margin-bottom: 15px;
            }

            div[class*="input"]:last-child {
                margin-bottom: 0;
            }

            input, textarea, select {
                width: 100%;
                padding: 11px 15px;
                font-size: 16px;
                border: 1px solid #dcdcdc;
                outline: 0;
                color: #333;
                border-radius: 5px;
            }

            textarea {
                resize: none;
                height: 200px;
            }

            label {
                font-size: 14px;
                margin-bottom: 4px;
                display: block;
                color: #555;
            }

            .input-urgency-field, .input-staff-id-field {
                position: relative;

                select {
                    appearance: none;
                }

                ion-icon {
                    pointer-events: none;
                    position: absolute;
                    top: 55%;
                    right: 15px;
                    color: #EE5757;
                }
            }
            .left-part-form, .right-part-form {
                padding: 30px 40px;
                background: #fff;
                box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
                border-radius: 5px;
            }
    
            .left-part-form {
                grid-column: 1 / 2;
            }

            .right-part-container {

                .right-part-form {
                    grid-column: 2 / 3;
                    height: fit-content;
        
                    [class*="checkbox-task"] {
                        transition: .2s;
                        border-radius: 5px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 8px;
        
                        label {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            padding: 10px 15px;
                            
                            input[type="checkbox"] {
                                width: 20px;
                                height: 20px;
                                margin-right: 15px;
                            }
            
                            span {
                                font-size: 16px;
                            }
                        }
        
                        select {
                            flex-basis: 30%;
                        }
                    }
        
                    [class*="checkbox-task"]:hover {
                        background: #eee;
                    }
                }
        
                .close-form {
                    top: -5px;
                    background: #fff;
                    padding: 5px;
                    border-radius: 5px 5px 0px 0px;
                }
        
                .input-submit-field {
                    grid-column: 2 / 3;
                    margin-top: 15px;
        
                    input[type="submit"] {
                        background: #EE5757;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.content::after {
    content: '';
    width: 100%;
    height: 15px;
}